{:deps {com.monkeyprojects/mailman-core {:mvn/version "0.3.0"}
        manifold/manifold {:mvn/version "0.4.3"}}

 :aliases
 {:dev
  {:extra-paths ["env/dev"]
   :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.5.18"}}
   :override-deps {com.monkeyprojects/mailman-core {:local/root "../core"}}}

  :test
  ;; clj -X:test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}}
   :exec-fn monkey.test/all}

  :junit
  ;; clj -X:test:junit
  {:exec-fn monkey.test/junit}

  :jar
  ;; clj -X:jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/mailman-manifold.jar"
               :lib com.monkeyprojects/mailman-manifold
               :pom-data [[:licenses
                           [:license
                            [:name "GPL v3"]
                            [:url "https://www.gnu.org/licenses/gpl-3.0.en.html#license-text"]]]]
               :version [[:env "LIB_VERSION"] "0.3.1-SNAPSHOT"]}}

  :install
  ;; clj -X:jar:install
  {:exec-fn monkey.build/jar+install}

  :publish
  ;; clj -X:jar:publish
  {:exec-fn monkey.build/jar+deploy}}}
