{:deps {com.monkeyprojects/mailman {:mvn/version "0.1.0-SNAPSHOT"}
        manifold/manifold {:mvn/version "0.4.3"}}

 :aliases
 {:dev
  {:extra-paths ["env/dev"]
   :override-deps {com.monkeyprojects/mailman {:local/root "../core"}}}

  :test
  ;; clj -X:test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.0-SNAPSHOT"}}
   :exec-fn monkey.test/all}

  :junit
  ;; clj -X:test:junit
  {:exec-fn monkey.test/junit}}}
