{:deps {com.monkeyprojects/mailman-core {:mvn/version "0.2.6"}
        com.monkeyprojects/monkey-jms {:mvn/version "0.3.2"}}

 :aliases
 {:dev
  {:extra-paths ["dev-resources" "env/dev"]
   :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.5.18"}
                medley/medley {:mvn/version "1.4.0"}}
   :override-deps {com.monkeyprojects/mailman-core {:local/root "../core"}}}

  :test
  ;; clj -X:test
  {:extra-paths ["test"]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}
                ;; For embedded broker in tests
                com.monkeyprojects/monkey-jms-artemis {:mvn/version "0.3.2"}}
   :exec-fn monkey.test/all}

  :junit
  ;; clj -X:test:junit
  {:exec-fn monkey.test/junit}

  :jar
  ;; clj -X:jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/mailman-jms.jar"
               :lib com.monkeyprojects/mailman-jms
               :pom-data [[:licenses
                           [:license
                            [:name "GPL v3"]
                            [:url "https://www.gnu.org/licenses/gpl-3.0.en.html#license-text"]]]]
               :version [[:env "LIB_VERSION"] "0.2.6-SNAPSHOT"]}}

  :install
  ;; clj -X:jar:install
  {:exec-fn monkey.build/jar+install}

  :publish
  ;; clj -X:jar:publish
  {:exec-fn monkey.build/jar+deploy}}}
